#### Name Dipika Sharma
#### DSC 550 T302 Data Mining
#### Week 3

# Exercise 3.2

In [1]:
## Importing the required libraries

import pandas as pd
import numpy as np

## Part 1: Using the TextBlob Sentiment Analyzer

### 1. Import the movie review data as a data frame and ensure that the data is loaded properly.

In [2]:
## Lets import movie review data as a dataframe.

Movie_Review_df = pd.read_csv('labeledTrainData.tsv',sep = '\t')

In [3]:
## Lets check how the top 5 rows looks in dataset.

Movie_Review_df.head(5)

       id  sentiment                                             review
0  5814_8          1  With all this stuff going down at the moment w...
1  2381_9          1  \The Classic War of the Worlds\" by Timothy Hi...
2  7759_3          0  The film starts with a manager (Nicholas Bell)...
3  3630_4          0  It must be assumed that those who praised this...
4  9495_8          1  Superbly trashy and wondrously unpretentious 8...

### 2. How many of each positive and negative reviews are there?

In [4]:
## Looking at the Kaggle website under data section we know "Sentiment of the review; 1 for positive reviews and 0 for negative reviews"
## Using grouby function on sentiment column to get the total number of positive and negative reviews

Movie_Review_pos_neg_df = Movie_Review_df.groupby('sentiment').count() 
Movie_Review_pos_neg_df

              id  review
sentiment
0          12500   12500
1          12500   12500

### From above numbers we can see that dataset have same numbers of positive and negative reviews for movies.

### 3. Use TextBlob to classify each movie review as positive or negative. Assume that a polarity score greater than or equal to zero is a positive sentiment and less than 0 is a negative sentiment.

In [5]:
## Installing the TextBlob library

! pip install -U textblob

Requirement already satisfied: textblob in /Users/milindkumartandel/opt/anaconda3/lib/python3.9/site-packages (0.17.1)
Requirement already satisfied: nltk>=3.1 in /Users/milindkumartandel/opt/anaconda3/lib/python3.9/site-packages (from textblob) (3.6.5)
Requirement already satisfied: click in /Users/milindkumartandel/opt/anaconda3/lib/python3.9/site-packages (from nltk>=3.1->textblob) (8.0.3)
Requirement already satisfied: joblib in /Users/milindkumartandel/opt/anaconda3/lib/python3.9/site-packages (from nltk>=3.1->textblob) (1.1.0)
Requirement already satisfied: regex>=2021.8.3 in /Users/milindkumartandel/opt/anaconda3/lib/python3.9/site-packages (from nltk>=3.1->textblob) (2021.8.3)
Requirement already satisfied: tqdm in /Users/milindkumartandel/opt/anaconda3/lib/python3.9/site-packages (from nltk>=3.1->textblob) (4.62.3)

In [6]:
from textblob import TextBlob

In [7]:
## Assuming polarity score greather than or equal to zero is positive sentiment and less then 0 is negative sentiment.
## Adding polarity and subjectivity column in data frame

Movie_Review_df[['polarity', 'subjectivity']] = Movie_Review_df['review'].apply(lambda Text: pd.Series(TextBlob(Text).sentiment))

In [8]:
## Lets check the top 5 rows of the data frame

Movie_Review_df.head(5)

,id,sentiment,review,polarity,subjectivity
0,5814_8,1,With all this stuff going down at the moment w...,0.001277,0.606746
1,2381_9,1,"\The Classic War of the Worlds\"" by Timothy Hi...",0.256349,0.531111
2,7759_3,0,The film starts with a manager (Nicholas Bell)...,-0.053941,0.562933
3,3630_4,0,It must be assumed that those who praised this...,0.134753,0.492901
4,9495_8,1,Superbly trashy and wondrously unpretentious 8...,-0.024842,0.459818

In [9]:
## Lets calculate the textblobe score using the polarity column

Movie_Review_df['score'] = np.where(Movie_Review_df['polarity'] >= 0, 1, 0)

In [10]:
## Lets check the top 5 rows of the dataframe to check if it is calculating the score correctly.

Movie_Review_df.head(5)

,id,sentiment,review,polarity,subjectivity,score
0,5814_8,1,With all this stuff going down at the moment w...,0.001277,0.606746,1
1,2381_9,1,"\The Classic War of the Worlds\"" by Timothy Hi...",0.256349,0.531111,1
2,7759_3,0,The film starts with a manager (Nicholas Bell)...,-0.053941,0.562933,0
3,3630_4,0,It must be assumed that those who praised this...,0.134753,0.492901,1
4,9495_8,1,Superbly trashy and wondrously unpretentious 8...,-0.024842,0.459818,0

### 4. Check the accuracy of this model. Is this model better than random guessing?

In [11]:
## Lets create column accuracy. Using score and sentiment to calculate the accuracy column.

Movie_Review_df['accuracy'] = np.where(Movie_Review_df['score'] == Movie_Review_df['sentiment'], 1, 0)

In [12]:
## Lets check the top 5 rows of the dataframe to check if it is calculating the accuracy correctly.

Movie_Review_df.head(5)

,id,sentiment,review,polarity,subjectivity,score,accuracy
0,5814_8,1,With all this stuff going down at the moment w...,0.001277,0.606746,1,1
1,2381_9,1,"\The Classic War of the Worlds\"" by Timothy Hi...",0.256349,0.531111,1,1
2,7759_3,0,The film starts with a manager (Nicholas Bell)...,-0.053941,0.562933,0,1
3,3630_4,0,It must be assumed that those who praised this...,0.134753,0.492901,1,0
4,9495_8,1,Superbly trashy and wondrously unpretentious 8...,-0.024842,0.459818,0,0

In [13]:
## Lets calculate the mean of the newly created accuracy column to see if it is better than random guessing.
## using mean function for the same.

Movie_Review_df["accuracy"].mean()

0.68524

### Looking at the above result we can clearly say model is better than random guessing as the result is 68% more than to 50%.

### 5. For up to five points extra credit, use another prebuilt text sentiment analyzer, e.g., VADER, and repeat steps (3) and (4).

In [14]:
## Installing VADER library

!pip install vaderSentiment

Requirement already satisfied: vaderSentiment in /Users/milindkumartandel/opt/anaconda3/lib/python3.9/site-packages (3.3.2)
Requirement already satisfied: requests in /Users/milindkumartandel/opt/anaconda3/lib/python3.9/site-packages (from vaderSentiment) (2.27.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/milindkumartandel/opt/anaconda3/lib/python3.9/site-packages (from requests->vaderSentiment) (1.26.7)
Requirement already satisfied: certifi>=2017.4.17 in /Users/milindkumartandel/opt/anaconda3/lib/python3.9/site-packages (from requests->vaderSentiment) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in /Users/milindkumartandel/opt/anaconda3/lib/python3.9/site-packages (from requests->vaderSentiment) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /Users/milindkumartandel/opt/anaconda3/lib/python3.9/site-packages (from requests->vaderSentiment) (3.2)

In [15]:
## Lets import VADER sentiment library

from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

In [16]:
## Importing libraries

import nltk

nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     /Users/milindkumartandel/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [17]:
## SentimentIntensityAnalyzer()takes in a string and returns a dictionary of scores in 4 categories: negative, neutral, positive and compound.

from nltk.sentiment.vader import SentimentIntensityAnalyzer

sir = SentimentIntensityAnalyzer()

In [18]:
## Creating new column to calculate the compound using the review column

Movie_Review_df['vcompound'] = Movie_Review_df['review'].apply(lambda review: sir.polarity_scores(review)['compound'])

In [19]:
## Let create the column to calculate vader sentiment column using the vader compound.

Movie_Review_df['vsentiment'] = np.where(Movie_Review_df['vcompound'] >= 0.05, 1,
                                np.where(Movie_Review_df['vcompound'] <= -0.05, 0, 1))

In [20]:
## Lets check top 5 rows to see how the data looks now with new vader compund and vader sentiment columns.

Movie_Review_df.head(5)

,id,sentiment,review,polarity,subjectivity,score,accuracy,vcompound,vsentiment
0,5814_8,1,With all this stuff going down at the moment w...,0.001277,0.606746,1,1,-0.8278,0
1,2381_9,1,"\The Classic War of the Worlds\"" by Timothy Hi...",0.256349,0.531111,1,1,0.9819,1
2,7759_3,0,The film starts with a manager (Nicholas Bell)...,-0.053941,0.562933,0,1,-0.9883,0
3,3630_4,0,It must be assumed that those who praised this...,0.134753,0.492901,1,0,-0.2189,0
4,9495_8,1,Superbly trashy and wondrously unpretentious 8...,-0.024842,0.459818,0,0,0.7960,1

In [21]:
## Lets create the accuracy column to check model accuracy when using vader sentiment analysis.

Movie_Review_df['vaccuracy'] = np.where(Movie_Review_df['sentiment'] == Movie_Review_df['vsentiment'], 1, 0)

In [22]:
## Lets check top 5 rows of the data frame

Movie_Review_df.head(5)

,id,sentiment,review,polarity,subjectivity,score,accuracy,vcompound,vsentiment,vaccuracy
0,5814_8,1,With all this stuff going down at the moment w...,0.001277,0.606746,1,1,-0.8278,0,0
1,2381_9,1,"\The Classic War of the Worlds\"" by Timothy Hi...",0.256349,0.531111,1,1,0.9819,1,1
2,7759_3,0,The film starts with a manager (Nicholas Bell)...,-0.053941,0.562933,0,1,-0.9883,0,1
3,3630_4,0,It must be assumed that those who praised this...,0.134753,0.492901,1,0,-0.2189,0,1
4,9495_8,1,Superbly trashy and wondrously unpretentious 8...,-0.024842,0.459818,0,0,0.7960,1,1

In [23]:
## Lets calculate the mean of the newly created vader accuracy column to see if it is better than random guessing.
## using mean function for the same.

Movie_Review_df["vaccuracy"].mean()

0.6926

#### As we can see that using vader sentiment analysis the accuracy for positive sentiment is 69% which is almost similar to the percentage we get from using the Textblob sentiment analysis. Hence Accuracy of the model is better than random guessing.

## Part 2: Prepping Text for a Custom Model

#### If you want to run your own model to classify text, it needs to be in proper form to do so. The following steps will outline a procedure to do this on the movie reviews text.

### 1. Convert all text to lowercase letters.

In [24]:
## using str.lower() function to convert text to lowercase leters.

Movie_Review_df['review'] = Movie_Review_df['review'].str.lower()

In [25]:
## Lets check the top five rows of the data frame.

Movie_Review_df.head(5)

,id,sentiment,review,polarity,subjectivity,score,accuracy,vcompound,vsentiment,vaccuracy
0,5814_8,1,with all this stuff going down at the moment w...,0.001277,0.606746,1,1,-0.8278,0,0
1,2381_9,1,"\the classic war of the worlds\"" by timothy hi...",0.256349,0.531111,1,1,0.9819,1,1
2,7759_3,0,the film starts with a manager (nicholas bell)...,-0.053941,0.562933,0,1,-0.9883,0,1
3,3630_4,0,it must be assumed that those who praised this...,0.134753,0.492901,1,0,-0.2189,0,1
4,9495_8,1,superbly trashy and wondrously unpretentious 8...,-0.024842,0.459818,0,0,0.7960,1,1

### 2. Remove punctuation and special characters from the text.

In [26]:
## Using str.replace to replace punctuation and special character from text.

Movie_Review_df['review'] = Movie_Review_df['review'].str.replace(r'[^\w\s]+', '')

/var/folders/k0/kqs3mw2j4pl9s5fvm4jvh09h0000gn/T/ipykernel_38539/857249495.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  Movie_Review_df['review'] = Movie_Review_df['review'].str.replace(r'[^\w\s]+', '')

In [27]:
## Lets check the review column after removing puntuation and special characters.

Movie_Review_df['review']

0        with all this stuff going down at the moment w...
1        the classic war of the worlds by timothy hines...
2        the film starts with a manager nicholas bell g...
3        it must be assumed that those who praised this...
4        superbly trashy and wondrously unpretentious 8...
                               ...
24995    it seems like more consideration has gone into...
24996    i dont believe they made this film completely ...
24997    guy is a loser cant get girls needs to build u...
24998    this 30 minute documentary buñuel made in the ...
24999    i saw this movie as a child and it broke my he...
Name: review, Length: 25000, dtype: object

In [28]:
## Lets check the top five rows of the data frame.

Movie_Review_df.head(5)

,id,sentiment,review,polarity,subjectivity,score,accuracy,vcompound,vsentiment,vaccuracy
0,5814_8,1,with all this stuff going down at the moment w...,0.001277,0.606746,1,1,-0.8278,0,0
1,2381_9,1,the classic war of the worlds by timothy hines...,0.256349,0.531111,1,1,0.9819,1,1
2,7759_3,0,the film starts with a manager nicholas bell g...,-0.053941,0.562933,0,1,-0.9883,0,1
3,3630_4,0,it must be assumed that those who praised this...,0.134753,0.492901,1,0,-0.2189,0,1
4,9495_8,1,superbly trashy and wondrously unpretentious 8...,-0.024842,0.459818,0,0,0.7960,1,1

### 3. Remove stop words.

In [29]:
## Lets import nltk module and import stopwords and word_tokenize

import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

In [30]:
## Lets import the stopwords using nltk module

stop = stopwords.words('english')

In [31]:
## removing the stopwords from review column in data frame.

Movie_Review_df['review'] = Movie_Review_df['review'].apply(lambda review: ' '.join([word for word in review.split() if word not in (stop)]))

In [32]:
## Lets check the top 5 rows of the data frame

Movie_Review_df.head(5)

,id,sentiment,review,polarity,subjectivity,score,accuracy,vcompound,vsentiment,vaccuracy
0,5814_8,1,stuff going moment mj ive started listening mu...,0.001277,0.606746,1,1,-0.8278,0,0
1,2381_9,1,classic war worlds timothy hines entertaining ...,0.256349,0.531111,1,1,0.9819,1,1
2,7759_3,0,film starts manager nicholas bell giving welco...,-0.053941,0.562933,0,1,-0.9883,0,1
3,3630_4,0,must assumed praised film greatest filmed oper...,0.134753,0.492901,1,0,-0.2189,0,1
4,9495_8,1,superbly trashy wondrously unpretentious 80s e...,-0.024842,0.459818,0,0,0.7960,1,1

### 4. Apply NLTK’s PorterStemmer.

In [33]:
## lets import PorterStemmer using nltk module.

from nltk.stem import PorterStemmer

In [34]:
## Lets create Pstemmer variable

Pstemmer = PorterStemmer()

In [35]:
## Lets create a new column and tokenize the review column

Movie_Review_df['review_PStemmer'] = Movie_Review_df['review'].apply(lambda review : filter(None,review.split(" ")))

In [36]:
## Now apply the stemmer to the newly created tikenize column.

Movie_Review_df['review_PStemmer'] = Movie_Review_df['review_PStemmer'].apply(lambda reviewPS : [Pstemmer.stem(y) for y in reviewPS])

In [37]:
## create sentence using stemmer column

Movie_Review_df['review_PStemmer_new'] = Movie_Review_df['review_PStemmer'].apply(lambda reviewPS : " ".join(reviewPS))

In [38]:
## Lets check the top five rows of the data frame

Movie_Review_df.head(5)

,id,sentiment,review,polarity,subjectivity,score,accuracy,vcompound,vsentiment,vaccuracy,review_PStemmer,review_PStemmer_new
0,5814_8,1,stuff going moment mj ive started listening mu...,0.001277,0.606746,1,1,-0.8278,0,0,"[stuff, go, moment, mj, ive, start, listen, mu...",stuff go moment mj ive start listen music watc...
1,2381_9,1,classic war worlds timothy hines entertaining ...,0.256349,0.531111,1,1,0.9819,1,1,"[classic, war, world, timothi, hine, entertain...",classic war world timothi hine entertain film ...
2,7759_3,0,film starts manager nicholas bell giving welco...,-0.053941,0.562933,0,1,-0.9883,0,1,"[film, start, manag, nichola, bell, give, welc...",film start manag nichola bell give welcom inve...
3,3630_4,0,must assumed praised film greatest filmed oper...,0.134753,0.492901,1,0,-0.2189,0,1,"[must, assum, prais, film, greatest, film, ope...",must assum prais film greatest film opera ever...
4,9495_8,1,superbly trashy wondrously unpretentious 80s e...,-0.024842,0.459818,0,0,0.7960,1,1,"[superbl, trashi, wondrous, unpretenti, 80, ex...",superbl trashi wondrous unpretenti 80 exploit ...

### 5. Create a bag-of-words matrix from your stemmed text (output from (4)), where each row is a word-count vector for a single movie review (see sections 5.3 & 6.8 in the Machine Learning with Python Cookbook). Display the dimensions of your bag-of-words matrix. The number of rows in this matrix should be the same as the number of rows in your original data frame.

In [39]:
## Lets create a bag-of-words matrix from stemmed text

from sklearn.feature_extraction.text import CountVectorizer

## Creating variable for word count vector

countV = CountVectorizer()

bag_of_words = countV.fit_transform(Movie_Review_df['review_PStemmer_new'])

In [40]:
## Using shape function to see the number of columns and rows of bag-of-words matrix

print("The total number of rows and columns of bag-of-words matrix: {}".format(bag_of_words.shape))

The total number of rows and columns of bag-of-words matrix: (25000, 92532)

In [41]:
## Using shape function again to se number of rows and columns of the original data frame

print("The total number of rows and columns of original data frame: {}".format(Movie_Review_df.shape))

The total number of rows and columns of original data frame: (25000, 12)

### As we can see the number of rows in both newly created bag-of-words matrix and in original data frame is same which is 25000.

### 6. Create a term frequency-inverse document frequency (tf-idf) matrix from your stemmed text, for your movie reviews (see section 6.9 in the Machine Learning with Python Cookbook). Display the dimensions of your tf-idf matrix. These dimensions should be the same as your bag-of-words matrix.

In [42]:
## lets create a tf-idf matrix using stemmed text.

from sklearn.feature_extraction.text import TfidfVectorizer

## Creating variable for tf-idf vector

matrixV = TfidfVectorizer()

bag_of_words_tfidf = matrixV.fit_transform(Movie_Review_df['review_PStemmer_new'])

In [43]:
## Using shape function to see the number of rows and column of bag-of-words tf-idf matrix

print("The total number of rows and columns of bag-of-words tf-idf matrix: {}".format(bag_of_words_tfidf.shape))

The total number of rows and columns of bag-of-words tf-idf matrix: (25000, 92532)

### As we can see the total number of rows and column for both matrix is exactly same as 25000 rows and 91741 columns.